{% extends 'shared/_layout.html' %}

{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}

    <div class="container">
                <div class="row">
                    <div class="main-content login_content  col-12 col-md-7 col-lg-5 mx-auto">
                        <header class="card-header">
                            <h3 class="card-title"><span>بازیابی رمز عبور</span></h3>
                        </header>
                        <div class="login_box">



                                <form method="post" action="{% url 'reset-password' active_code=user.email_active_code %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-account-title"><span>*</span> رمز جدید </div>
                                            {{ reset_pass_form.password }}
                                            {{ reset_pass_form.password.errors }}
                                        </div>
                                        <div class="col-md-12 col-sm-12 p-3">
                                            <div class="form-account-title"><span>*</span> تایید رمز جدید </div>
                                            {{ reset_pass_form.confirm_password }}
                                            {{ reset_pass_form.confirm_password.errors }}
                                        </div>

                                        <div class="col-12 text--center">
                                            <button type="submit" class="btn big_btn btn-main-masai">ثبت</button>
                                        </div>
                                    </div>
                                </form>


                        </div>
                    </div>
                </div>
            </div>


{% endblock %}