{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="profile-page-aside col-md-3">
                <div class="profile-menu ">
                    {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 pt-4">
                <form action="{% url 'change-password' %}" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-main-masai">ثبت</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}