{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row pt-4">
            <div class="col-md-3">
                <div class="profile-page-aside">
                    <div class="profile-menu ">
                        {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form action="{% url 'edit-profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}