
        <ul class="profile-menu-items">
            <li >
                <a class="dropdown-item" href="{% url 'user-panel-dashboard' %}">پنل کاربری</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'edit-profile' %}">ویرایش اطلاعات</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'my-shopping' %}">لیست محصولات خریداری شده</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'user-favorite-category' %}">لیست علایق</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'change-password' %}">تغییر کلمه عبور</a>
            </li>


        </ul>
