

                            <header class="card-header">
                                <h3 class="card-title"><span class="space-right-10">نویسندگان</span></h3>
                            </header>

                            <div class="box-content">

                                <div class="collapse show" >
                                    {% for author in authors %}


                                        <div class="form-account-agree">
                                            <h6 class="pb-4"><a class="txt-main-masai" href="{% url 'product-author-list' author=author.url_title %}">
                    <span class="pull-left">
                        ({{ author.products_count }})
                    </span>
                    {{ author.title }}</a></h6>

                                        </div>
{% endfor %}
                                </div>
                            </div>
