

                            <header class="card-header">
                                <h3 class="card-title"><span class="space-right-10">دسته بندی</span></h3>
                            </header>
                            <div class="box-content">
                                <div class="collapse show">
                                    {% for category in categories %}
                                    <div class="form-account-agree">
                                        <h6 class="panel-title pb-4"><a class="txt-main-masai" href="{% url 'product-categories-list' cat=category.url_title %}">

                                            {{ category.title }}
                                        </a></h6>
                                    </div>
                                      {% endfor %}
                                </div>
                            </div>

