{% extends 'shared/_layout.html' %}

{% load render_partial %}

{% block title %}
    لیست محصولات
{% endblock %}

{% block content %}


<main class="search-page default space-top-30">
            <div class="container">
                <div class="row">
                    <aside class="sidebar-page col-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="box">

                        {% render_partial 'product_module.views.product_categories_component' %}
                        </div>

                        <div class="box">

                        {% render_partial 'product_module.views.books_author_component' %}
                        </div>

                        <div class="box">

                            <header class="card-header"><h3 class="card-title"><span class="space-right-10">قیمت</span></h3></header>
                            <div class="box-content space-40 space-right-25 space-left-25">
                                <div id="slider">
{#                                    <input#}
{#                                        type="hidden"#}
{#                                        class="span2"#}
{#                                        value="{{ start_price }},{{ end_price }}"#}
{#                                        data-slider-min="0"#}
{#                                        data-slider-max="{{ db_max_price }}"#}
{#                                        data-slider-step="1000"#}
{#                                        data-slider-value="[{{ start_price }},{{ end_price }}]"#}
{#                                        id="sl2">#}
                                </div>
                            <form action="{% url 'product-list' %}" method="get" id="filter_form">
                                <input type="hidden" name="page" id="page" value="{{ page_obj.number }}">
                                <input type="hidden" name="end_price" id="end_price" value="{{ end_price }}">
                                <input type="hidden" name="start_price" id="start_price" value="{{ start_price }}">

                            </form>


                            </div>
                            <button class="btn btn-success btn-block" onclick="filterProducts()">فیلتر</button>
                        </div>

                    </aside>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="listing default ">
                            <div class="tab-content default text-center">
                            {% if products %}
                                <div class="tab-pane active" id="suggestion" role="tabpanel" aria-expanded="true">
                                        <div class="row listing-items">
                                        {% for product in products %}
                                            {% include 'includes/product_item.html' with product=product %}
                                        {% endfor %}
                                        </div>
                                </div>

                                <ul class="pagination p-5">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" onclick="fillPage({{ page_obj.previous_page_number }})">قبلی</a></li>
                                {% endif %}
                                {% for PageNumber in paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == PageNumber%} active {% endif %}">
                                    <a class="rounded-circle page-link"
                                       onclick="fillPage({{ PageNumber }})">
                                        {{ PageNumber }}
                                    </a>
                                </li>
                            {% endfor %}

                                {% if page_obj.has_next %}
                                <li class="page-item"><a class="cursor-pointer page-link"
                                       onclick="fillPage({{ page_obj.next_page_number }})">
                                    بعدی
                                </a></li>
                            {% endif %}
                                </ul>


                        {% else %}
                        <div class="alert alert-warning">
                         <p>هیچ محصولی یافت نشد</p>
                        </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</main>

{% endblock %}



